.img-principal__hpesas{
    position:relative;
    border-radius: 20px;
    width: 100%;
    margin: 0px;
    padding: 10px;
    z-index: -1;
}
.img-principal__fotos-row3{
    margin: 1%;
    height: 100%;
    width: 45%;
    display: inline-block;
    border-radius: 20px;
}

.img-principal__fotos-rowlarge{
    height: 100%;
    width: 100%;
    display: inline;
    border-radius: 20px;
}

.img-principal__fotos-row2{
    margin: 1%;
    height: 100%;
    width: 45%;
    display: inline-block;
    border-radius: 20px;
}



