.img-principal__hpesas{
    display: block;
    border-radius: 20px;
    width: 100%;
}
.img-principal__fotos-row3{
    margin: 1%;
    height: 100%;
    width: 45%;
    display: inline-block;
    border-radius: 20px;
}

.img-principal__fotos-rowlarge{
    height: 100%;
    width: 100%;
    display: inline;
    border-radius: 20px;
}

.img-principal__fotos-row2{
    margin: 1%;
    height: 100%;
    width: 45%;
    display: inline-block;
    border-radius: 20px;
}

.heart-outline{
color: red;
position:absolute;
/* display: flexbox; */
  height:60%;
  width:10%;
  z-index: 1;
  /* top: 65%; */
  right : 100%;
    /* margin-top: 25px; */
}